@import 'partials/variables';
@import 'partials/main';
@import 'partials/btn';

@import 'partials/header';
@import 'partials/footer';

@import 'partials/banner';
// @import 'partials/section__help';

main {
    display: flex;
    flex-direction: column;
}

.help {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 24px;
    width: min(85%, 1320px);
    margin: 48px auto 0;
    @media (min-width: $lg-min) {
        grid-template-columns: 1fr 1fr;
        gap: 48px;
        margin: 96px auto 0;
    }
    @media (min-width: $xl-min) {
        grid-template-columns: 3fr 2fr;
    }
    .content {
        align-self: center;
        margin-block: 0 48px;
        @media (min-width: $lg-min) {
            margin-block: 0 96px;
        }
    }
    img {
        align-self: end;
        margin: 0 auto;
        max-width: 70%;
        max-height: 35vh;
    }
}