@import 'partials/variables';
@import 'partials/main';
@import 'partials/btn';

@import 'partials/header';
@import 'partials/footer';

@import 'partials/banner';
@import 'partials/section__help';

.section__half {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 25px;
    grid-auto-flow: row;
    align-items: center;
    width: min(85%, 1320px);
    margin: 48px auto;
    grid-auto-flow: dense;
    @media (min-width: $lg-min) {
        grid-template-columns: repeat(2, 1fr);
        gap: 48px;
        margin: 96px auto;
        
    }
    img {
        margin: 0 auto;
        max-width: 70%;
        max-height: 35vh;
        @media (min-width: $lg-min) {
            max-width: 100%;
            max-height: unset;
        }
    }
    &.reverse {
        .content {
            @media (min-width: $lg-min) {
                order: 1;
            }
        }
    }
    &.last {
        margin-bottom: 0;
        align-items: end;
        .content {
            align-self: center;
            @media (min-width: $sm-min) {
                margin-bottom: 48px;
            }
            @media (min-width: $lg-min) {
                margin-bottom: 96px;
            }
        }
    }
}