.banner {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 150px;
    padding: 50px 0;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    @media (min-width: $lg-min) {
        min-height: 260px;
        padding: 100px 0;
    }
    @media (min-width: $xl-min) {
        min-height: 300px;
    }
    .banner__title {
        position: relative;
        display: inline-block;
        color: var(--white);
        z-index: 1;
        h1 {
            margin: 0;
            font-size: 36px;
            @media (min-width: $lg-min) {
                font-size: 48px;
            }
            @media (min-width: $xl-min) {
                font-size: 72px;
            }
        }
        span {
            font-weight: 400;
        }
    }
    .banner__circle {
        position: absolute;
        top: 50%;
        left: -20%;
        border-radius: 100%;
        width: 140%;
        background: var(--primary);
        opacity: 70%;
        transform: translateY(-50%);
        z-index: -1;
        &:after {
            content: "";
            display: block;
            padding-bottom: 100%;
        }
        .content {
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }
}